{{ form_start(form) }}
<div class="card-body">
    {{ form_widget(form) }}
</div>
<div class="card-footer">
    <button class="btn btn-primary" type="submit">
        <i class="fas fa-check"></i> {{ 'Save'|trans }}
    </button>
</div>
{{ form_end(form) }}
