{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Edit Book</h3>
                </div>
                <div class="col-4 text-right">
                    <a href="{{ path('book_index') }}">back to list</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="card-footer">
            {{ include('book/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
